* {  -webkit-transition: all 0.3s ease;  -moz-transition:    all 0.3s ease;  -ms-transition:     all 0.3s ease;  -o-transition:      all 0.3s ease;}
*:focus{border-style:inherit; highlight:none!important;}
html,body{
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
	    font-size: 12px!important;
		    box-sizing: border-box;
			    margin: 0px;
				display:block;
				height:100%;
				perspective: 1px;

	}








*, *:before, *:after {  box-sizing: inherit;}
.home-mainbody{background-color:#fff;  }

.home-primary-color {background-color: #0a3b61;}.home-primary-color-f {color: #0a3b61;}
.home-secondary-color{background-color: #faa61a;}.home-secondary-color-f{color: #faa61a;}
.home-firstnav{height:40px; z-index:100; position: fixed; font-family: Open Sans; background-color: #0a3b61; font-size: 1rem; line-height:40px; color:rgba(255,255,255,0.4); box-sizing:border-box; margin: 0px;}
.home-firstnav i {font-size: 1.2rem; margin-right:1rem; line-height:40px;} .home-breadcrumbs{padding: 0px 15px; cursor:pointer;}
.home-active{height: 52px; line-height:52px; margin-left:2vw; font-size:1.2rem; padding:0px 20px; background-color:#f6505c; color:#fff;}
.home-active:hover{background:#ff1744; color:rgba(255,255,255,0.7);} .home-breadcrumbs:hover{color:#fff;}
.home-second-div {height:15vh; z-index:3;margin-top: 40px; background-color:#fff;  } .nav-pad-left-right{padding: 0% 17%;}
.rentright-logo{background-image:url('img/rentright-logo-300.png'); height:80px; width:80px; background-size:contain; background-repeat:no-repeat; align-self: center;}
.address{font-size: 1.4rem; font-weight:400;color:#424242;} .phone-no{font-size: 1.4rem; font-weight:400; color:#424242;}
.contact-div{font-size:1.2rem; font-weight: 300; line-height: 1rem; color:#9e9e9e; font-family:Roboto;}.pad-left-15{padding:  0px 15px;} .icon-props{color:#ff1744; font-size:30px;}

.home-third-div{box-sizing:border-box; z-index:3; background: linear-gradient(to bottom,#fff, rgba(255,255,255,0.8)); height: 15vh; margin-top: 40px;}

.bar-box{padding: 0px; height:10vh; box-sizing:border-box;  /*border-top:solid 2px #eaeaea;*/ z-index:1;}
 .bar-tabs{padding: 0px 10px; padding-left: 0px; border-top: solid 3px rgba(0,0,0,0);
		font-weight: 700!important; text-transform:uppercase; box-sizing:border-box; font-family:Open Sans; color: #222; font-size: 0.9rem;
		height:100%; line-height:10vh;  cursor:pointer;}
.bar-tabs i {margin-left:1rem;  font-weight: 700!important; line-height:10vh; font-size: 0.9rem; }
 .bar-breadcrumbs{cursor:pointer; padding: 0px 10px;  border-top: solid 3px rgba(0,0,0,0); }
.home-search-field input[type = text], .home-search-field input, .home-first-search{box-sizing: border-box!important;
 border-bottom:none!important; font-size:0.8rem!important; font-family:Open Sans; margin:0px!important; padding:0px!important;
 border-style:none!important;  line-height:80px!important;  width:80%!important; background-color:#fff; height:30px!important;  text-indent:20px;}


.home-search-field{ font-size:1.5rem; height:40px;    font-weight:300;  border:solid 1px #d2d2d2;}
.home-search-field i, .home-search-field .material-icons, .home-search-icon{ width:10%; color:#999; padding:0px 5px; box-sizing:border-box; height:100%;  font-weight:500; font-size:1.5rem!important; cursor:pointer; line-height:40px; }
.search-icon:hover{color:#222;}
.picture-div{height:100vh; z-index:2; margin-top: -20vh;}
.bar-tabs-active{border-top-color:#0a3b61; z-index:1;}  .bar-tabs:hover{border-top-color:#eaeaea; color:#ff1744;}
.interior1{ background-repeat:no-repeat; background-size: cover; background-position:center;}
.home-slider{background-image:url('img/interior10.jpg');  z-index:1;} .home-cover{background-color: rgba(0,0,0,0.2); width:100%; height:100%; }

.home-account-switch{border: solid 1px ; color: rgba(255,255,255,0.4); cursor: pointer; font-size: 12px; height: 30px; line-height: 30px; align-self: center; width: 100px; border-radius: 15px;}
.home-account-switch:hover{color: #fff;}
.home-bxshadow{-webkit-box-shadow: 1px 3px 45px 23px rgba(234,234,234,1);
-moz-box-shadow: 1px 3px 45px 23px rgba(234,234,234,1);
box-shadow: 1px 3px 45px 23px rgba(234,234,234,1);
}
.home-body-search{min-height: 30vh;box-sizing:border-box; transform: translateZ(0px); z-index: 3; background-color: #eaeaea;}
.home-search{margin-top:-200px; background-color:#fff;  padding:10px 20px;  height:400px;  z-index: 3;}







.home-body-search2{min-height: 20vh;box-sizing:border-box; transform: translateZ(0px); z-index: 3; background-color: #eaeaea;}
.home-search2{background-color:#fff;  padding:20px 40px; box-sizing:border-box;   height:450px;   z-index: 3; border-radius: 2px; margin-top: 20vh;
-webkit-box-shadow: 2px -21px 55px 5px rgba(0,0,0,0.33);
-moz-box-shadow: 2px -21px 55px 5px rgba(0,0,0,0.33);
box-shadow: 2px -21px 55px 5px rgba(0,0,0,0.33);
}
.home-search-header{font-size: 2.5rem; color: #222; font-weight: 500; }
.home-search-des{font-size: 1.3rem; color: #999; font-weight: 300; padding-bottom: 20px; }
.home-search-items2{ font-size:1.2rem; height:40px; box-sizing:border-box; overflow:hidden;  font-weight:300; margin-bottom:15px;   border:solid 1px #ccc;  border-radius:2px;  color:#999;}
.home-search-label{font-size: 1.3rem; color: #666; font-weight: 300; }
.home-search-key{font-size: 1.5rem; color: #222; line-height: 35px; text-indent: 10px; font-weight: 300;}
.home-search-button{height: 50px; line-height: 50px; font-size:1.5rem; color: #fff; background-color: #f6505c; border:none!important; border-radius: 4px; cursor: pointer; margin-top: auto; }
.home-search-button:hover{background:#ff1744; }
.home-search2 input, .home-search2 select{height:40px; border:none; background-color: #fff;   border-radius: 2px; box-sizing:border-box; line-height:40px;  font-family:Proxima Nova; font-size:20px; }


.holderr{padding-top: 10px;}





.home-body-search3 { height: 40px; background-color: rgba(255,255,255,0.7); box-sizing: border-box; border: 1px solid #999; }
.home-search-param1{height: 38px; background-color: #fff; box-sizing: border-box; line-height:38px; font-size: 1.7rem; color: #999; }
.key3{color: #fff; font-size: 1.7rem; text-indent: 10px; line-height: 38px;} .search-d{height: 38px; width: 1px; background-color: #ededed;}
.key3::placeholder{ line-height: 38px; font-size: 1.7rem; text-indent: 10px;
}
.mat-icon{line-height:40px; font-size: 1.7rem; color: #999;}    .home-search-search{cursor: pointer; background-color: #0a3b61; font-size: 1.3rem; color: #fff;}




.home-search-items{ font-size:1.2rem; height:35px;  font-weight:300;  border:solid 1px #ededed; background-color:#eaeaea;  border-radius:2px;  color:#9e9e9e;}
 .home-keyword{ box-sizing: border-box!important;
 border-bottom:none!important; font-size:1rem!important; font-family:Open Sans!important; margin:0px!important; padding:0px!important;
 border-style:none!important;  line-height:80px!important;  width:80%!important;  height:25px!important;  text-indent:10px!important; background-color:#eaeaea;}
 .home-top-pad{padding-top:15px;}
.home-search-wrapper{height:50px;} .home-label{font-size:1.1rem;  color:#666; font-weight:500; font-family:Open Sans; line-height:1.4rem; margin-bottom:0.3vh;}
.home-search-icon2{line-height:30px; color: #37474f;  }
.home-view-deals, .home-view-deals2{background-color: #000; color:rgba(255,255,255, 0.5); cursor:pointer; padding:0px 20px;  height: 40px; border-radius:1px; box-sizing: border-box;  font-family:Roboto; font-size:1.2rem;
 border-radius: 2px; }
 .home-view-deals:hover, .home-view-deals2:hover{color:#fff;}
.home-view-deals2{ background-color: #0a3b61; }

.global-search{
    -webkit-box-shadow: 10px 9px 16px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 16px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 16px -10px rgba(0,0,0,0.75);

}
 .global-search{
     box-sizing:border-box;
     padding-left: 10px;
     width:100%;
     height:70px;
     background-color:rgba(0,0,0,0.6);
     display:flex; justify-content:flex-start;
 }








.home-view-deals span, .home-view-deals2 span{height:100%;  line-height:40px; align-self:center; font-family:Lato; font-weight:300; text-transform:uppercase; }
 .home-view-deals i, .home-view-deals2 i{height:100%;  line-height:40px; align-self:center; font-size:20px; font-weight:300;}
.home-fourth-div {background-image: url('img/interior18.jpg'); height:45vh; box-sizing: border-box; background-position: bottom; background-repeat: no-repeat; background-size: cover; z-index:50;}

.m-ellipses{width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.ml-ellipses{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; } .home-search-wrapper2{height:50px;} .home-label-top{padding-bottom:4%;}
.home-fourth-div-cover{ z-index: 50;
width:100%; height:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#183174+0,246b99+43,287ca0+73,287ca0+100&0.72+0,0.83+100 */
background: -moz-linear-gradient(-45deg, rgba(24,49,116,0.72) 0%, rgba(36,107,153,0.77) 73%, rgba(40,124,160,0.8) 73%, rgba(40,124,160,0.83) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(24,49,116,0.72) 0%,rgba(36,107,153,0.77) 43%,rgba(40,124,160,0.8) 73%,rgba(40,124,160,0.83) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(24,49,116,0.72) 0%,rgba(36,107,153,0.77) 43%,rgba(40,124,160,0.8) 73%,rgba(40,124,160,0.83) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8183174', endColorstr='#d4287ca0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
.home-div-outer-box{box-sizing:border-box; height: 70%; overflow:hidden;  background-color:#fff; width:22%; padding:10px; } .home-outer-div-icon{ height: 40%;} .home-icon-central{font-size:3.5rem; color: #f6505c;}




.home-div-outer-header{font-size:1.4rem; color: #333; font-weight:500; height:20%; line-height:1.4rem;} .home-div-outer-body{font-size:1.2rem; line-height:1.4rem; font-family:Open Sans; color: #999; font-weight:400; height:30%;}
.classbottom{height:auto; font-family:Roboto;  box-sizing:border-box; margin-top:auto; }
.t-md-45{width: 45%;}

.home-fifth-div{height: 30vh; background-color: #fff; box-sizing: border-box;} .home-rent-ad{font-size:3rem; color:#0a3b61; font-weight: 300; font-family:Roboto; }
.t-hr{color:#0a3b61; background-color:#0a3b61;  height:3px; border-radius:2px;  }
.home-rent-ad-details{font-size:1.3rem; line-height:1.6rem; color:#999; font-weight: 400; text-transform:capitalize; }
.home-t-hr-cover{background-color:#ededed; }.home-t-hr-cover2{background-color:#464a49; } .home-hr-super{height:3px; margin-bottom:3vw; margin-top:1.5vw; }
.home-hr-super2{height:3px; margin-bottom:1vw; margin-top:1vw; }
.home-ad-picture-holder{background-color:#fff; height: 40vh;  } .home-ad-picture{background-image: url('img/interior111.jpg'); border-top-left-radius: 5%; background-repeat:no-repeat; background-size:cover; }
.home-ad-info{background-color: #e8e8e8; padding:20px;} .ad-info-address{font-size: 1.7rem; font-family: Roboto; font-weight: 400; color:#626260; line-height:2rem; padding-bottom: 10px; font-family: Museo;}
.ad-proptype{font-size: 1.2rem; font-family: Roboto; font-weight: 300; color:#91918f; }	.ad-year{font-size:1.2rem;  font-weight: 500; color:#91918f; } .ad-py{height:40px; padding: 15px 0px;}.ad-prc{font-size:1.5rem; color:#f84e5d; font-family: Roboto;}
.ad-description1{font-size:1.1rem; font-weight:500; padding: 10px 0px; line-height: 2rem; min-height: 80px; box-sizing: border-box;}
.t-md-48{width:48%;}
.ad-divider{box-sizing: border-box; width:1px; height:60%; background-color: #999; align-self: center;}
.home-bgg{background-size: cover;}

.home-street-view{height: 30px; box-sizing: border-box; text-align: center; border: 1px solid rgba(255,255,255,0.7); line-height: 30px; font-size: 15px; color: #fff; font-family: Museo; margin-top: 50px;}
.home-new-property-cover{background-color: rgba(0,0,0,0.3);}
.ad-view-offer-btn {box-sizing:border-box; border-radius:2px; cursor:pointer; background-color: #f6505c; height:40px; font-size: 1.2rem; color: #fff; padding:0px 10px; text-transform:uppercase}
.ad-view-offer-btn2 { text-transform: uppercase; box-sizing:border-box; padding:0px 10px; border-radius:2px; cursor:pointer; background-color: #000; height:40px; font-size: 1.2rem; color: #fff;}
.ad-view-offer{padding: 10px 0px;} .home-agents-picture{background-image: url('img/agent2.jpg'); background-repeat:no-repeat; background-size: cover; background-position: center;}
.home-agents-div{height: 300px; margin-top:10vh;} .home-agents-details{background-color:#000; padding: 10vh; box-sizing: border-box;} .home-agent-header{font-size:2rem; color:#fff; font-weight: 300;}
.home-agents-info{font-size:1.2rem; color:#4c4e4d; }
.home-agents-contact{height: 80px; padding: 15px 0px;}
.home-agents-pics1{background-image: url('img/agent.jpg'); background-position:bottom; border-radius:55%; height:80px; width:80px; background-size:cover; background-repeat:no-repeat;}
.home-agents-pics2{background-image: url('img/agent2.jpg'); background-position:bottom; border-radius:55%; height:80px; width:80px; background-size:cover; background-repeat:no-repeat;}

.home-agents-name{font-size:1.5rem; color:#dbdbdb; padding:10px; font-weight:300;}
.home-agents-phone{font-size: 1.4rem; color:#fff; line-height:3rem;padding:10px; font-weight:300;}.home-agents-phone i{font-size: 1.4rem; color:#fff; line-height:3rem;  }

.home-hr-super3{height:3px; margin-bottom:1.5vw; margin-top:1.5vw; } .home-t-hr-cover3{background-color:#b7b9b8; } .home-newest-details{font-size: 1.2rem; color: #999;}
.home-newest-properties-div{ min-height: 250px; background-color:#eaeaea; box-sizing: border-box; z-index:5;}
.home-property1{background-color: #fff;  height: 350px; box-sizing:border-box; border-radius :5px; margin-bottom:50px;}
.home-property-picture1{height:65%; cursor: pointer; background-size: cover; box-sizing:border-box;  border-top-left-radius :5px;border-top-right-radius :5px;}
.home-property-picture2{height:65%; background-image: url('img/interior21.jpg'); cursor: pointer; background-size: cover; box-sizing:border-box; border-top-left-radius :5px;border-top-right-radius :5px;}
.home-property-picture3{height:65%; background-image: url('img/interior18.jpg'); background-size: cover; box-sizing:border-box; border-top-left-radius :5px;border-top-right-radius :5px;}
.home-property-picture4{height:65%; background-image: url('img/interior16.jpg'); background-size: cover; box-sizing:border-box; border-top-left-radius :5px;border-top-right-radius :5px;}
.home-newest-header{font-size:3rem; color:#464039; font-weight: 400; font-family:Roboto;} .home-newest-offer-div{height: 30vh; z-index: 5; background-color:#eaeaea;}
.home-newest-holder{ height:100%;}
.home-newest-property-price{font-size: 1.2rem; color:#fff; background-color:#0a3b61; height: 40px; padding: 0px 2px; border-top-left-radius: 5px; font-family: 'Montserrat', sans-serif;}
.home-newest-property-fav{font-size:     1.5rem; color:#fff;  height: 40px; padding: 0px 2px;}
.home-shadow{-webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);}	.home-aplicant-picture{ z-index:1; border-radius: 50%;  background-size:cover; height:60px; width:60px;}
.home-aplicant-picture2{background-image: url('img/girlpicture.jpg'); border-radius: 50%;  background-size:cover; z-index:2; height:40px; width:40px; position:center; }
.home-aplicant-picture3{background-image: url('img/girl_pic3.jpg'); border-radius: 50%;  background-size:cover; z-index: 1; height:40px; width:40px; margin-left:-25px;}
.home-aplicant-picture4{background-image: url('img/girl_picture.jpg'); border-radius: 50%;  background-size:cover; height:40px; width:40px; margin-left:-25px;}
.home-aplicants{margin-top:auto; padding:0px 10px;}	.home-aplicant-name{font-size: 1.5rem; color: #fff; font-weight:400; padding:0px 10px; font-family: 'Montserrat', sans-serif;}
.home-no-of-applicant{font-size: 1.1rem; color:#222; font-weight:400; font-family: Open Sans;}
.home-newest-address{font-family: 'Montserrat', sans-serif; font-size:1.2rem; font-weight:400; color:#333;} .home-newest-location{padding: 10px; overflow: hidden; height: 35%}
.home-newest-size{font-family: 'Montserrat', sans-serif; font-size:1.2rem; font-weight:400; color:#333;}
.home-newest-size i{color: #ff1744; font-size:1.5rem; } .home-newest-address i{padding: 0px 5px; font-size:2rem; color:#ff1744;}
.t-md-32{width:32%;} .montserrat{font-family: 'Montserrat', sans-serif;} .home-testimonial{height:65vh; background-image: url('img/couple.jpg');  background-repeat:no-repeat; background-size:cover; background-position:center;}
.home-testimonial-cover{background-color: rgba(0,0,0,0.7);}
.home-tes{font-size: 1.7rem; color:#fff; font-weight: 300;}.home-tes2{font-size: 2.3rem; color:#fff; font-weight: 300;}.home-tes3{font-size: 1.2rem; color:#fff; font-weight: 300;}
.home-tes-picture {background-image: url('img/girl_picture.jpg'); border-radius:50%; width:80px; height: 80px; background-size:cover;}
.home-tes-picture-holder{height: 30%;}
.home-tes-name{font-size: 1.2rem; color:#fff; font-weight: 300;} .home-tes-prof{font-size: 1rem; color:#999; font-weight: 300; }
.home-carousel1{height:10px; width:10px; background-color:#999; cursor: pointer; border-radius:50%;}
.home-carousel2{height:10px; width:10px; background-color:#fff; cursor: pointer; border-radius:50%;}
.home-carousel3{height:10px; width:10px; background-color:#999; cursor: pointer; border-radius:50%; }
.museo{font-family: Museo;} .proxima{font-family: Proxima Nova;}
.home-list{cursor: pointer;  }
.t-md-05{width:4%;} .t-md-89{width: 89%;} .t-md-75{width: 75%;}.t-md-70{width: 70%;}   .t-md-29{width: 29%}
.home-icons{padding-right: 3px;}
.home-new-property-address{font-size: 1.2rem;  } .home-new-property-address i{font-size: 1.8rem; color: #f6505c;}
.home-unit-attributes{font-size: 1.1rem; }   .home-unit-attributes i{color: #f6505c; font-size: 1.5rem;}
.t-md-33{width: 33%;}

.home-footer{min-height: 40vh; padding: 20px 0px;background-color:#073855; }
.contactus{font-size: 2.2rem; color:#333; padding-top: 30px;}
.home-contact-us-div{height:100vh; background-color: #eaeaea; padding: 15px 0px; z-index: 5; }
.home-sub-text{font-size:1.4rem; color: #666; }
.home-imgg{justify-content: center; background-image: url("img/macbook.png"); height: 60vh; width: 100%; background-size: contain; background-repeat: no-repeat; }	.footer-img-holder{padding: 5px 0px;}
.home-rentright-about{font-size: 1rem; color:#fff; padding-bottom: 15px; font-weight:400;}
.home-twit{font-size: 1.5rem; color:#fff; cursor:pointer; padding-right:10px;}	.most-commented{font-size: 1.2rem; color:#fff; padding-bottom: 15px; font-weight:400;}
.footer-img1{background-image: url('img/interior10.jpg');  background-repeat:no-repeat; background-size: cover; background-position: center; width: 60px; height:60px; border-radius: 50%;}
.home-new-post{font-size: 1.1rem; color:#fff; font-weight:400;}
.footer-img2{background-image: url('img/interior13.jpg'); background-repeat:no-repeat; background-size: cover; background-position: center; width: 60px; height:60px; border-radius: 50%;}
.footer-img2-details{padding:10px;}	.footer-a{font-size: 1rem; font-weight: 300; color:#fff; cursor:pointer; padding: 10px 0px;; }.home-first-link i{font-size: 0.9rem; padding: 10px 0px; padding-right: 10px;  font-weight: 300; color:#fff; cursor:pointer;}
.footer-img1-details{padding:10px;}	.footer-hr{ background-color:#fff;  height:1px; border-radius:2px; } .home-footer-social{padding-right: 10px; margin-top: 10px;}
.footer-copyright{height: 5vh;}	.copyright-a{font-size: 1rem; font-weight: 300; cursor:pointer;}
.copyright{color:#fff; font-size: 1rem; padding: 10px 0px;}
.copyright-top{color:#fff; font-size: 1rem; padding: 10px 0px; cursor:pointer;}
.cormorant{font-family: 'Cormorant Garamond', serif;}

.login-shadow{-webkit-box-shadow: 0px -2px 137px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -2px 137px -14px rgba(0,0,0,0.75);
box-shadow: 0px -2px 137px -14px rgba(0,0,0,0.75);}

.login-page-content-box{ background-color: #fff;height:95vh; z-index: 1; }
.login-form{padding: 5vh 0vw; height: 100%;}
.login-logo{background-image: url('img/rentright-logo-300.png'); background-size:contain; height: 10vh; background-repeat:no-repeat;}
.login-header{font-size: 3rem; font-weight: 300; margin-bottom: 4rem; }
.login-image{background-image: url('img/interior2.jpg'); background-size:cover; background-repeat:no-repeat;}
.login-email-div{height: 30px; box-sizing: border-box;  } .login-email-box{ border:none;} .login-user-icon{color: #666; font-size: 1.4rem; line-height: 30px;}
.login-submit-button{  background:#e47645; line-height:30px; height: 30px; color: #fff; cursor:pointer; border: solid 1px #e47645;}

.login-hr{ background-color: #cccccc; height: 1px; color:#cccccc; margin:7px 0px;}
.login-cover{background: rgba(40,38,48,0.74);}
.login-text {font-size:4rem; color:#e4b71d; font-weight: 300;} .login-text-log{color: rgba(255,255,255,0.6); font-size: 1.5rem; font-weight: 300}
.login-submit-button:hover{  background:transparent; color:#e4b71d;  }
.login-h1{font-family:Lato; font-weight:400; letter-spacing:1px; color:#0a3b61; font-size:2rem; text-transform:capitalize;

    text-shadow: 0 1px 0px rgba(50, 48, 58, 0.25);
 }
 .login-or{font-size: 1rem;}
.login-h2{margin-top:5px; font-size:1.3rem; color:#999; font-family:Open Sans; font-weight:300;}
.login-a{color:#e47645; cursor:pointer; font-weight:500}	.login-alt {font-size: 20px; font-family: Roboto;line-height:20px; height:20px; color: #999; margin: 1rem 0rem;}
.line-div{border: solid 1px; color:#eaeaea; height:1px;}
.login-fb-button { background-color:#45547c; color:#fff; padding:0px 10px!important; line-height:30px!important; height: 30px!important; cursor:pointer; border: solid 1px #fff; font-size: 1rem;  }
.fa-facebook{ color:#fff; margin-right:1.2rem; font-size: 2rem; line-height: 30px;}
.login-lk-button{background:#fff; color:#000; font-weight: 500; margin-top: 1rem; line-height:30px; height: 30px; cursor:pointer; border: solid 1px #fff; font-size: 1.6rem; }
.login-in{background-color: #2489b9; border-radius: 2px; width:30px; line-height: 30px;height:30px; color:#fff; cursor: pointer; margin-left: 3px;}

.login-firstnav{height:5vh; z-index:2; font-family: Open Sans; font-size: 1rem; line-height:5vh; color:rgba(255,255,255,0.4); box-sizing:border-box;}
.login-firstnav i {font-size: 1.5rem; margin-right:1rem;  line-height:5vh; }
.login-breadcrumbs{padding: 0px 15px; cursor:pointer; line-height: 5vh;}

.login-active{height: 40px; line-height:40px; margin-left:2vw; font-size:1.2rem; padding:0px 20px; background-color:#faa61a; color:#fff;}
.login-active:hover{background:#e4b71d; color:rgba(255,255,255,0.4);}
.login-social{margin-top: 1rem;}

.tg-fst{ z-index: 3; height: 100vh; background-image: url("img/vec4.jpg"); margin-top: -50px; background-size: cover; background-position: top; background-repeat: no-repeat; }
.landlord-guide-pic{ z-index: 3; height: 100vh; background-image: url("img/house4.jpg"); margin-top: 0px; background-size: cover; background-position: top; background-repeat: no-repeat; }
.tg-cover{background-color: rgba(0,0,0,0.7); height: 100%;}
.t-header{font-size: 4rem; color: #fff; }   .tg-header{font-size: 2rem; color: #222; }
.tenant-guide-header{padding: 0% 5%;}    .get-started-button{height: 40px; line-height: 40px; font-size: 1.2rem; font-weight: 300; margin-top: 20px; cursor: pointer; border-radius: 2px; background-color: #FAA61A; color: #fff;}
.t-text{font-size: 1.5rem; color: #fff; font-weight: 300; }
.tenant-guide-video{background-image: url("img/ipad-air-white.png"); height: 300px; background-position: center; background-repeat: no-repeat; background-size: contain;}
.tenant-search-properties{height: 48vh;  z-index: 2;  box-sizing: border-box; overflow: hidden; }
.tenant-guide-icon{color: #666; font-size: 4rem; font-weight: 300; margin: 10px 0px; }
.tenant-process{height: 50vh; z-index: 5; background-color: #fff; }
.t-profile-text{font-size: 1.5rem; color: #0a3b61; font-weight: 300; font-family: Lato; text-transform: uppercase;  margin-bottom: 5px;}
.t-profile-description{font-size: 1.2rem; color: #546e7a; font-weight: 400; }
.more-button{ font-size: 1.2rem; font-weight: 300; margin-top: 20px; cursor: pointer; border-radius: 4px; background-color: #FAA61A; color: #fff; padding: 3px 15px;}
.th-elipsis{overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.parallax{transform: translateZ(-1px) scale(2); z-index: 1; width:102%; margin-left:1%;}
.t-iframe{width: 430px; height: 240px; margin-left: 3px; margin-top: 4px; }
.t-how{padding-top: 15px; }

.r-logo{background-repeat: no-repeat; background-size: contain; height: 40px; }
 .landing-main-body{ box-sizing: border-box; }
.landing-img{background-image: url("img/landing-page.jpg"); background-size: cover; background-position: top;}
.landing-body-cover{background-color: rgba(0,0,0,0.7); padding-bottom: 10%;}
.landing-phone{background-image: url("img/iPhone7.png");  background-repeat: no-repeat; height: 70%; background-size: contain;}
.landing-des{font-size: 1.2rem; font-weight: 300; color: #fff;} .landing-text{font-size: 3rem; text-transform: uppercase; color: #fff; font-weight: 300;}

.landing-text-right{font-size: 3rem; text-transform: uppercase; color: #FAA61A; font-weight: 300;}
.landing-action{font-size: 2rem;  color: #fff; font-weight: 300;}   .landing-btn{height: 35px;border-radius: 3px; cursor: pointer; font-size: 1.1rem; font-weight: 300; line-height: 35px; background-color: transparent; border: solid 1px #ffffff; box-sixing: border-box; color: #fff; }
.landing-btn:hover{height: 35px;  background-color: transparent; border: solid 1px #FAA61A;  box-sixing: border-box; color: #fff; line-height: 35px;}
.l-button-holder{padding-left: 10%; padding-top: 15px;}    .landing-c-btn{height: 35px; cursor: pointer; border-radius: 3px; font-size: 1.1rem; font-weight: 300; line-height: 35px; background-color: #FAA61A; box-sixing: border-box; color: #fff;}
.landing-c-btn:hover{background-color: rgba(255,255,255,0.3); } .l-demarcator{height: 80px; width: 1px; background-color: #fff; margin-top: 30%; }   .l-demarcator-holder{padding-left: 20px; padding-bottom: 105px;}
.landing-nav{background-color: rgba(255,255,255,0.1); height: 50px; z-index: 50; line-height: 50px; color: #fff;} .landing-app-img2{cursor: pointer; background-image: url("img/coming-soon-iphone.png"); background-size: contain; background-repeat: no-repeat; height: 40px;}
.landing-overall-holder{margin-top: 30%;}   .landing-app-img{background-image: url("img/play-store-app.png"); margin-right: 5px; cursor: pointer; background-size: contain; background-repeat: no-repeat; height: 40px;}
.landing-logo{background-image: url("img/rentright-logo-300.png"); background-size: contain; background-repeat: no-repeat; height: 40px;}
.lg-s{height: 330px; }
.landlord-t-img{background-image: url("img/Add_property.jpg"); background-size: contain; background-repeat: no-repeat; height: 300px;}
.landlord-t-img2{background-image: url("img/Screen.png"); background-size: contain; background-repeat: no-repeat; height: 300px;}
.landlord-t-img3{background-image: url("img/rent.png"); background-size: contain; background-repeat: no-repeat; height: 300px;}
.landlord-t-img4{background-image: url("img/Maintanance.jpg"); background-size: contain; background-repeat: no-repeat; height: 300px;}
.landlord-t-img5{background-image: url("img/Insurance.jpg"); background-size: contain; background-repeat: no-repeat; height: 300px;}
.landlord-t-img6{background-image: url("img/Landord_rate.png"); background-size: contain; background-repeat: no-repeat; height: 300px;}

.landlord-t-s{  padding-top: 5%; }
.landlord-guide-pic-cover{background-color: rgba(0,0,0,0.6); height: 100%}



.acct-holder:hover .dropdown-content {
    display: block;
}

.home-account-switch {

    color: rgba(255,255,255,0.4);
    font-size: 12px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.acct-holder {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 16px;
    font-weight: 500;
    color: #f6505c;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    background-color: #eaeaea;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.acct-holder:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.acct-holder:hover .home-account-switch {
    border: solid 1px #fff;
}





.global-search input, .global-search select{height:40px; border:none; background-color: #fff; border-right:solid 1px #CCC; padding:0px 10px; border-radius: 2px; box-sizing:border-box; line-height:50px;  font-family:Proxima Nova; font-size:20px; }
.global-search ::-webkit-input-placeholder, .place, input, select { font-family:Museo!important; line-height:50px!important; font-size:15px!important; font-weight:200!important; color:#999!important; }
.global-search ::-moz-placeholder {font-family:Museo!important; line-height:50px!important; font-size:15px!important; font-weight:200!important; color:#999!important;  }
.global-search:-ms-input-placeholder {font-family:Museo!important; line-height:50px!important; font-size:15px!important; font-weight:200!important; color:#999!important; }
.global-search:-moz-placeholder { font-family:Museo!important; line-height:50px!important; font-size:15px!important; font-weight:200!important; color:#999!important; }
.global-search::placeholder {font-family:Museo!important; line-height:50px!important; font-size:15px!important; font-weight:200!important; color:#999!important; ;}
.global-search :placeholder-shown{transform:translateY(-10);}
.global-search option{color:#333; font-size:1.3rem;  line-height:50px; }

.home-find{background-color: #f6505c; color: #fff; font-size:20px; font-family: Museo; line-height: 50px;  text-align: center; cursor: pointer; -webkit-border-top-right-radius: 4px;}
.global-search{overflow:hidden!important; width:100%;}

[data-reactroot]{height:100%!important;}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .home-div-outer-box {
        width: 100%;
    }
    .home-fourth-div{
     min-height: 120vh;

    }
    .home-fourth-div-cover{
        padding-top: 30px;
        padding-bottom: 30px;

    }
    .home-div-outer{
        flex-direction: column;
        min-height: 100vh;

    }
    .home-div-outer-box{
        margin-bottom: 15px ;
    }
    .home-rent-ad{
        height: 8%;
        font-size: 2rem;
    }
    .home-rent-ad-details{
        font-size: 1rem;
        box-sizing: border-box;
        text-align: center;
        width: 80%;
       }

    .ad-description1{
        font-size: 11px;
        line-height: 14px;

    }
    .home-fifth-div{
        height: 50vh;
    }

    .home-hr-super{
        margin-top: 3vw;
    }
    .home-ad-picture-holder{
        width: 100%;
        flex-direction: column;
        height: 65vh;
    }
    .home-ad-picture{
        width: 100%;
        box-sizing: border-box;
        height: 50%;

    }
    .home-ad-info{
        width: 100%;
        box-sizing: border-box;
        height: 50%;

    }
    .home-newest-property-price{
        font-size: 1rem;
        width: 50%;
        box-sizing: content-box;

    }
    .home-aplicant-name{
        font-size: 1rem;
    }
    .home-aplicant-picture{
        width: 60px;
        height: 45px;

    }
    .ad-info-address{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    .home-applicant-right{
        flex-direction: column;
        align-items: flex-end;
    }
    .home-applicants-left{
        align-items: flex-end;

    }
    .home-aplicant-picture3{
        margin-top: -15px;
    }
    .home-aplicant-picture4{
        margin-top: -15px;
    }
    .home-no-of-applicant{
        font-size: 1rem;
    }
    .home-agents-div{
        flex-direction: column;
        min-height: 100vh;
    }
    .home-agents-details{
        width: 100%;
        height:50%;
        padding: 5%;
        box-sizing: border-box;

    }
    .home-agents-picture{
        width: 100%;
        height: 50%;
    }

    .home-search-holder{flex-direction: row; box-sizing: border-box;}
    .key-crumbs{flex-direction: column; width: 48%; justify-content: space-between;}    .home-search-wrapper{width: 95%;}.home-search-wrapper2{width: 95%;}
    .home-breadcrumbs{display: none;}
    .rentright-logo{width: 40px; height: 40px;}
    .contact-div{flex-direction: column; align-items: flex-start; justify-content: flex-end; font-size: 1rem;}
    .phone-no{font-size: 1rem;} .address{font-size: 1rem;} .icon-props{font-size: 15px;}
    .nav-pad-left-right{padding: 0 10%; border-top-left-radius: 0;} .home-agent-header{font-size: 1.2rem; box-sizing: border-box; height: 10%;} .home-agent-info{font-size: 1rem; align-content: space-between; height: 40%; box-sizing: border-box;}
    .home-agents-contact{ height: 45%;}  .home-agents-pics1{width: 40px; height: 40px; align-self: center;}.home-agents-pics2{width: 40px; height: 40px; align-self: center;}
     .home-agents-photo2 {width: 100%} .home-newest-location{padding: 5px;}
    .home-newest-offer-div{min-height: 40vh;} .home-agents-phone{font-size: 1.1rem; line-height: 1.2rem;} .home-property1{width: 100%; box-sizing: border-box;overflow-y: hidden; margin-bottom: 5px;}.home-property2{width: 100%; box-sizing: border-box;overflow-y: hidden; margin-bottom: 5px;}.home-property3{width: 100%; box-sizing: border-box; overflow-y: hidden;overflow-y: hidden; margin-bottom: 5px;}.home-property4{width: 100%; box-sizing: border-box; overflow-y: hidden; margin-bottom: 5px;}
    .home-newest-header{font-size: 2rem;} .home-newest-details{font-size: 1rem; width: 80%;}    .home-properties-holder{flex-direction: column;} .home-tes2{text-align: center; font-size: 1.3rem;}.home-tes{text-align: center; font-size: 1rem;}.home-tes3{text-align: center; font-size: 1rem; width: 60%;}
    .home-carousel{width: 10%;} .contactus{font-size: 1.5rem;} .home-sub-text{font-size: 1.1rem; margin-bottom: 20px;}
    .home-tes-picture-holder{width: 100%;} .home-tes-picture{height: auto;}
    .r-h{width: 40%;}
    .ad-view-offer-btn {font-size: 8px; height: 20px;} .ad-view-offer-btn i{font-size: 10px;}
    .ad-view-offer-btn2{font-size: 8px; height: 20px; }  .ad-view-offer-btn2 i{font-size: 10px;}
    .home-agents-info{height: 40%;}

    .home-agents-phone{font-size: 1.1rem; color:#fff; line-height:1.5rem; padding:0px; font-weight:300;}.home-agents-phone i{font-size: 1.1rem; color:#fff; line-height:1.5rem;  }
    .home-agent-phone-name{height: 50px; align-items: flex-start; width: 100%; justify-content: flex-end}.home-agent-phone-name1{height: 50px; align-items: flex-start; width: 100%; justify-content: flex-end}
    .home-agents-holder1{height: 100%; margin-bottom: 5px; flex-direction: column; justify-content: space-between; align-items: flex-end;}.home-agents-holder2{height: 100%; margin-bottom: 5px; flex-direction: column; justify-content: space-between; align-items: flex-start; }
    .home-agents-photo2{height: 60px; margin-bottom: 5px; flex-direction: column; justify-content: space-between}
    .home-imgg{background-image: url("img/macbook.png"); height: 25vh; width: 100%; background-size: contain; background-repeat: no-repeat; }
    .holder{flex-direction: column; justify-content: space-between;}    .home-contact-us-div{height: 80vh;}
    .home-size-hover{visibility: hidden} .home-size-hover :hover{visibility: visible;}
                                         .icon-text-holder{ padding-bottom: 10px;}

    .home-useful-links{
        width: 90%;
        height: 50%;
    }
    .most-commented{
        width: 90%;
        height: 50%;
    }
    .footer-text{
       width: 90%;
        height: 50%;
    }
    .home-footer{
        min-height: 20vh;
    }
    .footer-img1{
        align-self: center;
        height: 50px;
        width: 80px;
    }
    .footer-img2{
        align-self: center;
        height: 50px;
        width: 80px;
    }
    .home-firstnav-innerdiv-left{visibility: hidden;}
    .home-firstnav-innerdiv-right{visibility: visible; justify-content: center; display: flex;}














}
@media only screen
and (min-device-width : 481px)
and (max-device-width : 1024px){ /* Tablet */
    .contact-div{
        flex-direction: column;
    }
    .nav-pad-left-right{padding: 0% 10%;}
    .home-firstnav{font-size: 14px; font-weight: 500;}
    .contact-div{font-size: 14px; font-weight: 500;}
    .picture-div{height: 50vh;}
    .home-search {height: 20vh;}
    .home-view-deals{height: 30px;} .home-view-deals span {height: 100%; line-height: 30px;}.home-view-deals i {height: 100%; line-height: 30px;}.home-view-deals2{height: 30px;} .home-view-deals2 i {height: 100%; line-height: 30px;} .home-view-deals2 span {height: 100%; line-height: 30px;}
    .home-fourth-div{height: 30vh;}
    .home-agents-pics1{height: 100px; width: 50px;}
    .home-div-outer-box{width: 23%;} .home-ad-picture{height: 25vh;}   .ad-description1{font-size: 1rem;}
    .ad-view-offer-btn2{height: 35px; font-size: 1rem;}   .ad-view-offer-btn{height: 35px; font-size: 1rem;}
    .home-agents-details{padding: 0.2vh;}.agent-contact{height: 40%;} .home-agents-info{height:30%;}
    .home-agents-pic1{ height: 100px; width: 50px; align-self: center;} .home-agent-phone-name{width: 100%;}
    .home-agents-holder1{flex-direction: column;} .a-p-h-d{width: 100%;}
    .home-ad-picture-holder{height: 25vh;}

    .home-agents-pics2{height: 100px; width: 50px;}



}



