.l-body{
    margin: 0;
    background-color: #eeeeee;
    font-size: 18px !important;
}

.landlord a{
    text-decoration: none !important;
}


.primary-color{
    background-color: #0A3b61 !important;
}
.primary-color-text{
    color: #0A3b61;
}
.secondary-color{
    background-color: #faa61a !important;
}
.secondary-color-text{
    color: #faa61a;
}

.tertiary-color-text{
    color: #1396e2 !important;
}

.big-text{
    font-size: 20px;
}

d-npd{
    padding: 0 !important;
}

.d-npd-left{
    padding-left: 0 !important;
}

.d-npd-right{
    padding-right: 0 !important;
}

.d-npd-top{
    padding-top: 0 !important;
}

.d-npd-bottom{
    padding-bottom: 0 !important;
}

.d-mrgn-right{
    margin-right: 5px;
}
.d-mrgn-left{
    margin-left: 5px;
}
.d-mrgn-top{
    margin-top: 5px;
}
.d-mrgn-bottom{
    margin-bottom: 5px;
}

.d-no-mrgn-right{
    margin-right: 0;
}
.d-no-mrgn-left{
    margin-left: 0;
}
.d-no-mrgn-top{
    margin-top: 0;
}
.d-no-mrgn-bottom{
    margin-bottom: 0 !important;
}

.card-panel-header{
    color: #85929e !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
}

.btn.primary-color:hover,
a.primary-color-text{
background-color: rgba(10, 59, 97, .8) !important;
}

h1.d-header-tag, h2.d-header-tag, h3.d-header-tag, h4.d-header-tag, h5.d-header-tag, h6.d-header-tag {
    font-weight: 400;
    line-height: 1.1;
}

h3.d-header-tag {
    font-size: 26px;
    margin: 1.46rem 0 1.168rem
}

main.d-main{
    display: block;
    padding-left: 0;
    background-color: #eeeeee;
}

/*--------------------class selectors for overriding materialize----------------------------*/
input:not([type]).d-input, input[type=text].d-input, input[type=password].d-input, input[type=email].d-input, input[type=url].d-input, input[type=time].d-input, input[type=date].d-input, input[type=datetime].d-input, input[type=datetime-local].d-input, input[type=tel].d-input, input[type=number].d-input, input[type=search].d-input{
    border-bottom: none !important;
    margin: 0 0 0 0 !important;
}

.d-input:active,.d-input:focus,.d-input::after{
    border-bottom: none !important;
    box-shadow: none!important;
}


ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: static;
}

ul.side-nav.fixed li.logo #logo-container:hover, ul.side-nav.fixed li.logo:hover {
    background-color: transparent
}

ul.side-nav.fixed {
    margin-top: 70px;
    z-index: 9;
    overflow: hidden
}

ul.side-nav.fixed:hover {
    overflow-y: auto
}

.d-button:focus{
    outline: none;
}

.d-button:active{
    opacity: 1 !important;
}

.d-button:hover{
    opacity: 0.9;
}

.d-button > span {
    font-family: "proxima-nova", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    line-height: 60px;
}

.d-button{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-indent: 0;
    /* -webkit-box-shadow: 0 14px 24px 0 rgba(50, 48, 58, 0.25); */
     /*box-shadow: 0 14px 24px 0 rgba(50, 48, 58, 0.25);*/
    width: 220px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    border-radius: 6px;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out , opacity .2s ease-out ;
    display: inline-block;
}

#logo-container {
    height: 57px;
    margin-bottom: 32px
}


.d-collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem
}

.d-container {
    margin: 0 auto;
    /*max-width: 1280px;*/
    width: 98%;
}


#index-banner,.other-nav {
    position: fixed;
    width: 100%;
    z-index:10;
    padding-left: 0;
    background-color: #0A3b61;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

.other-nav{
    background-color: #ffffff;
    width: 80%;
    margin-left: 300px;
    padding-left: 0;
    z-index:9;
    top: 70px;
}

#index-banner .d-container {
    position: relative
}

#index-banner .d-header {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
 }

#index-banner #header-text-wrap {
    height: 40px;
    margin:auto;
}

#index-banner, .side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body li.active, footer.page-footer, nav {
    background-color: #0A3b61;
}

a.button-collapse.top-nav.full {
    line-height: 80px
}


.svg-wrap{
    width: 80px;
    height: 80px;
    margin: auto auto;
}

.svg-wrap svg {
    width: 80px;
    height: 80px;
    margin: auto;
    display: inline;
    float: none;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 86px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-left,
.background-masker.header-right {
    top: 0;
    left: 100px;
    height: 25px;
    width: 10px;
}

.background-masker.header-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.header-bottom {
    top: 25px;
    height: 8px;
    width: auto;
    left: 100px;
    right:0;
}


.background-masker.subheader-left{
    top: 33px;
    left: 100px;
    height: 53px;
    width: 10px;
}

.background-masker.subheader-bottom {
    top: 48px;
    height: 10px;
    left: 100px;
    right: 0;
}

.background-masker.subheader-right {
    top: 58px;
    left: 240px;
    width: auto;
    right: 0;
    height: 28px;
}

.msform .action-button {
    width:100%;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;
}
.msform .action-button:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title, .fs-header {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 10px;
}
.fs-subtitle {
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.fs-subtitle.to-left{
    text-align: left !important;
}

.fs-header{
    font-size: 17px;
    text-align: left;
}

.cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.cntr {
    /*position: absolute;*/
    top: 50%;
    left: 0;
    width: 100%;
}

.property-list tr.property-item td.image,
.property-list tr.property-item td.image img {
    height: 100px;
    width: 125px;
}

.property-list tr.property-item .inner{
    display: inline-block;
}

.property-list tr.property-item td.inner-td{
    vertical-align: top !important;
}
.property-list tr.property-item td.actions{
    padding: 5px;
    text-align: right;
}

.property-list tr.property-item .inner a h2{
    font-size: 25px;
    font-weight: bold;
    margin: 0 0px 5px 0;
    padding: 0;
}

.property-list tr.property-item .inner figure{
    margin: 0;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

.header_address{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

/*.d-tabs {*/
    /*margin:  0;*/
    /*padding: 0;*/
    /*list-style: none;*/
    /*display: table; !* [1] *!*/
    /*table-layout: fixed; !* [2] *!*/
    /*background-color: #0A3b61;*/
    /*width: 90%; !* [3] *!*/
/*}*/

/*.tabs__item {*/
    /*display: table-cell; !* [4] *!*/
/*}*/

/*.tabs__link {*/
    /*display: block; !* [5] *!*/
/*}*/


/*!***/
 /** Primary nav. Extends `.tabs`.*/
 /***/
 /** 1. Stop tabs’ corners leaking out beyond our 4px round.*/
 /**!*/
/*.primary-nav {*/
    /*text-align: center;*/
    /*overflow: hidden; !* [1] *!*/
/*}*/

/*.primary-nav a {*/
    /*padding: 1em;*/
    /*background-color: #0A3b61;*/
    /*color: #f5f5f5;*/
    /*font-weight: normal;*/
    /*text-decoration: none;*/
/*}*/

/*.primary-nav a:hover,*/
/*.primary-nav a.active {*/
    /*background-color: rgba(19,150,226,.5);*/
    /*border-bottom: 3px solid #1396e2;*/
    /*font-weight: bolder;*/
/*}*/

/*--------------------------------------------------------------Dashboard-----------------------------------------------*/
ul.DAWl{
    display: block;

}

ul.DAWl li{
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.DAWl li span{
    text-align: right;
    float:right;
    font-weight: bold;
    font-size: 25px;
}

ul.DAWl li.TiT span{
    color: #00838f;
    font-size: 20px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.DAWl li.TT span{
    color: #00838f;
}

ul.DAWl li.VCT span{
    color: #c62828 ;
}

ul.DAWl li.OCPD span{
    color: #2e7d32;
}
ul.DAWl li.PEN span{
    color: #ffb300;
}

.CWf{
    padding: 15px 0;
    border-top: 1px solid #bdbdbd;
}

.CWf span{
    font-weight: bold;
    color: #1396e2 !important;
    cursor: pointer;
}

.CWf span.P {
    float: left;
}

.CWf span.N{
    float: right;
}

.QAT,.QAB{
    height:45%;
    border-bottom:1px solid #cccccc;
}

.QAB{
    border-bottom:none !important;
}

.QAT .QATR, .QAB .QABR,.QAT .QATL, .QAB .QABL{
    cursor: pointer;
    height:100%;
    width:50%;
    float:left;
    border-right:1px solid #cccccc;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.QAT .QATL, .QAB .QABL{
    border-right:none;
}

.QAT .QATR:hover,
.QAB .QABR:hover,
.QAT .QATL:hover,
.QAB .QABL:hover{
    background-color: #EEEEEE;
}

.QAT .QATR span, .QAB .QABR span,.QAT .QATL span, .QAB .QABL span{

}

.QAT .QATR img, .QAB .QABR img,.QAT .QATL img, .QAB .QABL img{
    width: 50px;
    display: block;
    margin: 5% auto 5px;
}

.dashboard-prp-srch{
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    color: #85929e;
    background-color: #ffffff;
    width: 700px;
    /*font-size: 2.5em !important;*/
}

.dashboard-prp-srch .prop-srch{
    display: block;
    width: 100%;
    padding: .5em .5em .5em 2em;
    font-size: 2.5em !important;
    line-height: 2 !important;
    height: 2em;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
}

.prop-srch::placeholder{
    font-size: 1em !important;
}
.dashboard-prp-srch i{
    cursor: pointer;
}

.DSi{
    position: absolute;
    top: 0;
    padding: .5em .6em;
    font-size: 2em;
    line-height: 1.5;
    color: #85929e;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.DTsD{
    margin: .5rem 0 3rem 0;
    display: block;
}

.DTsD img{
    width: 100px;
    float: left;
    margin: 0 15px 0 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

.DTsD .address1{
    display: block;
    font-size: 30px;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HTaD{
    display: block;
}
.HTaD h5{
    border-bottom: #757575 solid 1px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: bold;
}

.HTaD ul li{
    display: block;
    padding-bottom: 10px;
    font-size: 18px;
    color: #616161;
}

.HTaD ul li span.NumB{
    color: #00695c !important;
    font-weight: bold;
}

/*-----------------------------------------------------------/Dashboard------------------------------------------------*/
.d-tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    background-color: #ffffff;
    width: 90%; /* [3] */
}

.tabs__item {
    display: table-cell; /* [4] */
}

.tabs__link {
    display: block; /* [5] */
}


/**
 * Primary nav. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
.primary-nav {
    text-align: center;
    overflow: hidden; /* [1] */
}

.primary-nav a {
    padding: 1em;
    background-color: #ffffff;
    color: grey;
    font-weight: normal;
    text-decoration: none;
}

.primary-nav a:hover,
.primary-nav a.active {
    background-color: #0A3b61;
    border-bottom: 3px solid #faa61a;
    font-weight: bolder;
    color: #ffffff;
}


.primary-nav a:hover i.icon,
.primary-nav a.active i.icon{
    display:none;
}
.primary-nav a:hover span.text:after,
.primary-nav a.active span.text:after{
    content: attr(data-text);
}

.full-width{
    width: 100% !important;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
}

.hover:hover {
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 4px 2px -1px rgba(0,0,0,0.2);
}

#sidebar-menu{
    margin-top: 70px;
    padding: 0 0 50px;
}

#sidebar-menu a.item,
#propertyMenu a.prop-item{
    height: auto !important;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #616161;
}

#sidebar-menu a.item:hover,
#sidebar-menu a.item.active{
    background-color: #0A3b61;
    border-right: 5px solid #faa61a;
    color: #ffffff;
}

#sidebar-menu a.item i.fa,
#propertyMenu a.prop-item i.fa{
    padding-right: 10px;
    font-size: 25px;
}

#sidebar-menu .section-header{
    display: block;
    padding: 10px;
    text-transform: uppercase;
}

#sidebar-menu .section-header i{
    line-height: 2.5;
    color: #0A3b61;
    cursor: pointer;
}

#propertyMenu{
    margin-right: 10px;
    margin-left: 10px;
}

#propertyMenu .prop-item{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#propertyMenu .prop-item:hover,
#propertyMenu .prop-item.active{
    background-color: #0A3b61;
    color: #ffffff;
    border: 2px solid #faa61a !important;
    border-radius: 5px;
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 4px 2px -1px rgba(0,0,0,0.2);
}

#rentNotification{
    border: 10px solid #b0bec5 !important;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
    border-radius: 2px;
}

#rentNotification div.inner-div{
    border-radius: 3px !important;
    margin: 0 !important;
    padding: 0 !important;
}

#rentNotification div.inner-div img{
    border-radius: 3px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

.line-button{
    font-size: 18px;
    background: transparent;
    padding: 10px;
    border: 1px solid #546e7a;
    border-radius: 4px;
}

.line-button.hover:hover{
    background-color: #eceff1;
}

.img-checkbox{
    cursor: pointer;
    opacity: 0.4;
}

.img-checkbox.checked{
    opacity: 1;
}


.img-checkbox img.img-check{
    opacity: 0.5;
    height: 70px;
    width: 70px;
    margin: 0 auto;
    display: block;
    background-color: #CCCCCC;
    border-radius: 50%;
}

.img-checkbox.checked img.img-check{
    opacity: 1 !important;
}

.floating-badge {
    position:relative;
}
.floating-badge[data-badge]:after {
    content:"\f00c";
    font-family: FontAwesome;
    position:absolute;
    top:0;
    right: 0;
    font-size:.7em;
    background:green;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}

.alert{
    padding:20px;
    border-right: 5px solid #faa61a !important;
    width: 100%;
}

.alert.alert-info{
    border: 1px #0A3b61 solid ;
}

.d-underline{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
}

.application-card-body{
    padding-bottom: 10px;
}

.application-card-body .application-head,
.application-card-body .application-footer{
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #eeeeee;
}

.application-card-body .application-details{
    /*background-color: #CCCCCC;*/
}

.block{
    width: 100%;
}

.modal{
    max-height: 100%;
    width: 75%;
    top: 0 !important;
}

.modal .modal-content{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.application-form .form-row{
    border-bottom: 1px solid #CCCCCC;
    padding: 20px 15%;
}

.sign-div .ant-card-head,
.content-div .ant-card-head{
    background: #6a1b9a !important;
}

.sign-div .sign-head,
.content-div .content-head{
    color: #ffffff !important;
}

#lease-term .input-field{
    margin-top: 10px !important;
}

#lease-term .input-field input{
    margin-bottom: 0 !important;
    padding-bottom: 5px;
    height: 1rem;
}

.clause{
    background-color: #eeeeee;
    color: #000;
    padding: 10px;
    margin-bottom: 20px;
}

.close:hover{
    color: red;
    cursor: pointer;
}

.add-tenant{
    padding: 10px;
    background: #EEEEEE;
    margin-bottom: 20px;
}

#lease-help{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    height: 10px;
}

#lease-help ul.help{
    float: right;
}

#lease-help ul.help li:last-child{
border-right: none !important;
}


#lease-help ul.help li{
    font-size: 13px;
    color: #0A3b61 !important;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px #CCCCCC solid;
    cursor: pointer;
}

.d-dropdown:hover > .d-dropdown-list{
    display:block;
    /*height: 300px;*/
    width: 300px;
}

.d-dropdown:hover > .d-dropdown-list i{
    display: block;
}

.d-dropdown-list{
    background: transparent;
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 4px 2px -1px rgba(0,0,0,0.2);
    z-index: 5000;
    position: absolute;
    padding-top: 8px;
    overflow: hidden;
    float: left;
    right: 0;
    -webkit-transition: width .3s, display .6s;
    display: none;
    /*height: 0;*/
    width: 0;
}

.d-dropdown-list .list{
    padding:0;
    border-radius: 2px;
}

.d-dropdown-list i.arrow{
    float: right;
    font-size: 30px;
    position: absolute;
    right:5px;
    margin-top: -20px;
    color: #F46652;
}

.d-dropdown-list li{
    padding: 10px;
    width: 100%;
}

.d-dropdown-list .list li:first-of-type{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.d-dropdown-list .list li:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.d-dropdown-list .header{
    background: #F46652;
}

.d-dropdown-list .list .dropdown-item{
    background: #F9F9F9;
    /*color: #B0B8C0;*/
    color: #CCCCCC;
}

.d-dropdown-list .list .dropdown-item:hover,
.d-dropdown-list .list .dropdown-item:hover > a{
    background: #F1F1F1;
    color: #0A3b61 !important;
    cursor: pointer;
}


.d-dropdown-list.d-divider .list .dropdown-item{
    border-bottom: 1px solid #EEEEEE;
}

.d-dropdown-list .footer{
    color: #DADADA !important;
}

.account-dropdown  a.settings:hover,
.account-dropdown a.profile:hover{
    color: #424242 !important;
}

.complaint-activities .ant-steps .ant-steps-title,
.complaint-activities .ant-steps .ant-steps-head{
    background-color: transparent !important;
}

.d-autocomplete-container{
    position: absolute;
    z-index: 1000;
    display: block;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    /*box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 4px 2px -1px rgba(0,0,0,0.2);*/
    box-shadow: 0 14px 24px 14px rgba(50, 48, 58, 0.25);
}

.d-autocomplete-container ul.d-autocomplete-list{
    display: block;
    width: 100%;
}

.d-autocomplete-container ul.d-autocomplete-list > li{
    padding:20px 15px;
     font-size: 16px;
     color: #32313A;
    font-weight: bold;
    border-bottom: #e0e0e0 1px solid;
}

.d-autocomplete-container ul.d-autocomplete-list > li:hover{
    background: #F8F9FA;
    cursor: pointer;
}

.d-alert{
    position: fixed;
    width: 80%;
    height:60px;
    margin-left: 300px;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index:8;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    -webkit-transition: top .7s;
}

.d-alert.success{
    background-color: #388e3c !important;
}
.d-alert.error{
    background-color: #c62828 !important;
}
.d-alert.info{
    background-color: #1565c0 !important;
}
.d-alert.warning{
    background-color: #f9a825 !important;
}

#root,
.landlord,
.application,
main,
.d-container.body,.d-container.body .child{
    min-height: 100vh;
}