body{
    margin: 0;
    background-color: #eeeeee;
}


.primary-color{
    background-color: #0A3b61 !important;
}
.primary-color-text{
    color: #0A3b61;
}
.secondary-color{
    background-color: #faa61a;
}
.secondary-color-text{
    color: #faa61a;
}

.tertiary-color-text{
    color: #1396e2;
}

.big-text{
    font-size: 20px;
}

.btn.primary-color:hover,
a.primary-color-text{
background-color: rgba(10, 59, 97, .8) !important;
}

h1.d-header-tag, h2.d-header-tag, h3.d-header-tag, h4.d-header-tag, h5.d-header-tag, h6.d-header-tag {
    font-weight: 400;
    line-height: 1.1;
}

h3.d-header-tag {
    font-size: 2.42rem;
    margin: 1.46rem 0 1.168rem
}

main.d-main{
    display: block;
    padding-left: 300px;
    background-color: #eeeeee;
}


ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px
}

ul.side-nav.fixed li.logo #logo-container:hover, ul.side-nav.fixed li.logo:hover {
    background-color: transparent
}

ul.side-nav.fixed {
    overflow: hidden
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li.active {
    background-color: #0A3b61; /*rgba(0, 0, 0, .05)*/
}

ul.side-nav.fixed li a {
    font-size: 23px;
    height: 44px;
    padding: 0 30px
}


ul.side-nav.fixed:hover {
    overflow-y: auto
}

#logo-container {
    height: 57px;
    margin-bottom: 32px
}


.d-collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem
}

ul.d-collapsible {
    padding-left: 10px;
    padding-right: 10px;
}

ul.d-collapsible li{
    margin:0; padding:0;
}

ul.d-collapsible li a{
    display: block;
}

.side-nav.fixed .d-collapsible {
    padding-bottom: 50px
}

.side-nav.fixed .collapsible-body > ul:not(.d-collapsible) > li a.active {
    color: #fff;
    background-color: #38435a;
}

ul.d-collapsible li:hover{
    background-color: #0A3b61;
    border-radius: 5px;
}
ul.d-collapsible li a i.material-icons{
    float: none !important;
    margin-right: 10px;
}

ul.d-collapsible li:hover > a,
ul.d-collapsible li:hover > a i{
    color: #ffffff;
}

.d-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%
}


#index-banner {
    position: fixed;
    //width: 100%;
    z-index:10;
    background-color: #0A3b61;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}

#index-banner .d-container {
    position: relative
}

#index-banner .d-header {
    color: #fff;
}

#index-banner, .side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body li.active, footer.page-footer, nav {
    background-color: #0A3b61;
}

a.button-collapse.top-nav.full {
    line-height: 80px
}


.svg-wrap{
    width: 80px;
    height: 80px;
    margin: auto auto;
}

.svg-wrap svg {
    width: 80px;
    height: 80px;
    margin: auto;
    display: inline;
    float: none;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 86px;
    position: relative;
}

.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-left,
.background-masker.header-right {
    top: 0;
    left: 100px;
    height: 25px;
    width: 10px;
}

.background-masker.header-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.header-bottom {
    top: 25px;
    height: 8px;
    width: auto;
    left: 100px;
    right:0;
}


.background-masker.subheader-left{
    top: 33px;
    left: 100px;
    height: 53px;
    width: 10px;
}

.background-masker.subheader-bottom {
    top: 48px;
    height: 10px;
    left: 100px;
    right: 0;
}

.background-masker.subheader-right {
    top: 58px;
    left: 240px;
    width: auto;
    right: 0;
    height: 28px;
}

.caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px solid;
    border-right:4px solid transparent;
    border-left:4px solid transparent
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/
#msform {
    font-family: montserrat, arial, verdana;
    width: 700px;
    margin: 50px auto;
    position: relative;
}
#msform fieldset {
    position: absolute;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    /*position: absolute;*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input[type="text"], #msform textarea , #msform select{
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width:40%;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    text-align: center;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 9px;
    width: 8.33%;
    text-align: center;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}


.cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
}
.cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}
.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}
#cbx:checked ~ .cbx, #cbx_pets:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
}
#cbx:checked ~ .cbx:after, #cbx_pets:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}
.cntr {
    /*position: absolute;*/
    top: 50%;
    left: 0;
    width: 100%;
}

.property-list tr.property-item td.image,
.property-list tr.property-item td.image img {
    height: 100px;
    width: 125px;
}

.property-list tr.property-item .inner{
    display: inline-block;
}

.property-list tr.property-item td.inner-td{
    vertical-align: top !important;
}
.property-list tr.property-item td.actions{
    padding: 5px;
    text-align: right;
}

.property-list tr.property-item .inner a h2{
    font-size: 25px;
    font-weight: bold;
    margin: 0 0px 5px 0;
    padding: 0;
}

.property-list tr.property-item .inner figure{
    margin: 0;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}


@-moz-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@-o-keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}
@keyframes jelly {
    from {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1.25, 0.75);
    }
    40% {
        transform: scale(0.75, 1.25);
    }
    50% {
        transform: scale(1.15, 0.85);
    }
    65% {
        transform: scale(0.95, 1.05);
    }
    75% {
        transform: scale(1.05, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}


.header_address{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.d-tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    background-color: #0A3b61;
    width: 90%; /* [3] */
}

.tabs__item {
    display: table-cell; /* [4] */
}

.tabs__link {
    display: block; /* [5] */
}


/**
 * Primary nav. Extends `.tabs`.
 *
 * 1. Stop tabs’ corners leaking out beyond our 4px round.
 */
.primary-nav {
    text-align: center;
    overflow: hidden; /* [1] */
}

.primary-nav a {
    padding: 1em;
    background-color: #0A3b61;
    color: #f5f5f5;
    font-weight: normal;
    text-decoration: none;
}

.primary-nav a:hover,
.primary-nav a.active {
    background-color: rgba(19,150,226,.5);
    border-bottom: 3px solid #1396e2;
    font-weight: bolder;
}

.full-width{
    width: 100% !important;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
}

.hover:hover {
    box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 4px 2px -1px rgba(0,0,0,0.2);
}