img{box-sizing:content-box!important; }
.map-header{background:#083A60; height:80px; line-height:80px; display:flex; align-content:center;      border-bottom: 1px solid #E8EAED;}
.map-container{width:100%;  overflow:hidden; height:100%; padding:0px; margin:0px; }
.map-br{    border-right: 1px solid #E8EAED;}
.map-left-logo{width:15%; height:100%; display:flex; align-content:center; align-items:center; justify-content:center;}
.map-logo{ background-image:url('img/logo.png'); background-size:contain; height:60px; width:120px;  background-position:center; background-repeat:no-repeat; }
.map-section i{color:#666; height:100%; line-height:80px;  font-size:25px; cursor:pointer;  }
.map-section i:hover{color:#41638E;}
.map-section{display:flex; transition: all(0.4s);  width:18%; justify-content:space-around; align-items:center; align-content:center; padding:0px 20px; box-sizing:border-box;}
.map-right-logo{ width:15%; height:100%;  border-left: 1px solid #E8EAED; display:flex; align-content:center; align-items:center; justify-content:center; margin-left:auto; }
.map-identity, .map-right-logo i {font-size:38px; line-height:40px; width:40px;
     padding:2px; overflow:hidden; text-align:center; vertical-align:center; height:40px; width:40px; box-sizing:border-box; border-radius:50%; display:inline-block; color:#666; background-size:contain; background-position:center; }
.map-input, .map-input i{color:#fff; line-height:80px; font-family:Museo; font-size:35px;  text-transform:capitalize; }
.map-input i{ margin-right:30px;}
.map-input ::-webkit-input-placeholder {  font-weight:300;  color:#fff; line-height:80px; font-family:Museo; font-size:28px!important;  text-transform:capitalize;  }
.map-input   ::-moz-placeholder {  font-weight:300; color:#fff; line-height:80px; font-family:Museo; font-size:28px!important;  text-transform:capitalize;   }
.map-input  :-ms-input-placeholder {  font-weight:300;  color:#fff; line-height:80px; font-family:Museo; font-size:28px!important;   text-transform:capitalize;  }
.map-input  :-moz-placeholder {  font-weight:300;  color:#fff; line-height:80px; font-family:Museo; font-size:28px!important;   text-transform:capitalize;  }
 .map-input ::placeholder {  font-weight:300;  color:#fff; line-height:80px; font-family:Museo; font-size:28px!important;  text-transform:capitalize;  }
 .map-input input{border:none; background:rgba(0,0,0,0);  width:90%; font-size:35px!important; color:#999; font-family:Museo; line-height:80px; height:100%; display:inline-block;}
 .map-input{width:40%; height:100%; overflow:hidden; display:flex; padding:0px 20px;  }
 .map-drawer, .map-mp{height: calc(100% - 80px);  box-sizing:border-box; overflow:hidden; padding:0px; margin:0px; width:39.999%; background:#fff; display:inline-block; }
 .map-mp{width:60%; background:#ededed; }
 .leaflet-container {  height: 100%;  width: 100%;}
 .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  opacity:0!important; width:0px; height:0px!important; box-sizing:content-box!important;
}
.leaflet-google-layer{z-index: 10 !important;}.leaflet-map-pane{ z-index: 1000;}.leaflet-google-layer{z-index: 10 !important;}.leaflet-map-pane{ z-index: 100;}
#map{width:100%; height:100%; box-sizing:content-box!important;} 
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
  opacity:0!important; width:0px; height:0px!important; box-sizing:content-box!important;
}
.leaflet-google-layer{z-index: 10 !important;}.leaflet-map-pane{ z-index: 1000;}.leaflet-google-layer{z-index: 10 !important;}.leaflet-map-pane{ z-index: 100;}
#map{width:100%; height:100%;}.leaflet-pane, .leaflet-layer, .leaflet-tile-container{width:100%; height:100%;}
.easy-button-button .button-state{overflow:hidden; box-sizing:content-box!important; } 
.map-hold{height:calc(100% - 90px); width:100%; padding:10px 30px; justify-content:space-between;  overflow:hidden; display:flex;}
.t-w{padding:10px; box-sizing:border-box; height:200px; overflow:hidden;}
.srv{margin-top:auto;} .ppc{font-size:13px; font-weight:400; font-family:museo; line-height:18px;}
.vh i{color:#fff;}
.map-header i{color:#fff!important; color:#fff!important; border-color:#fff;}
.new-cards{height:450px; overflow:hidden; cursor:pointer; }
.new-cards:hover{
-webkit-box-shadow: 2px 4px 55px 5px rgba(0,0,0,0.33);
-moz-box-shadow: 2px 4px 55px 5px rgba(0,0,0,0.33);
box-shadow: 2px 4px 55px 5px rgba(0,0,0,0.33);

}
.srv {
    width: 100%!important;
    font-family: Museo;
    height: 40px!important;
    display: flex!important;
    flex-direction: column;
    margin-left: 0px!important;
    margin-top: 10px!important;
    justify-content: flex-start;
    align-items: flex-start;
}
.ml-ellipses{overflow:hidden; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical;text-overflow: ellipsis;
  display: inline-block;
  display: -webkit-box; 
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;

}
.stb{margin-top:1px!important;}
.text-section{font-family:Proxima Nova; font-size:16px; width:100%;    border-bottom: 1px solid #E8EAED;  overflow:hidden; line-height:55px; padding:0px 30px;  color:#666; font-weight:500; height:55px; box-sizing:border-box; }